@model CommentLog.ViewModel.UsersVM
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.Password)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Name)
    </div>   

    <p>
        <button type="submit"> Register</button>
    </p>
}
